<div class="text-light container" style="margin:7rem; float: left;">
  <div class="row">
    <div class="col">
      <div>
        <img src="{{ selectedAnime.logo }}" alt="Anime logo" width="300rem">
      </div>
    </div>

    <div class="col">
      <h3>{{ selectedAnime.name }}</h3>
      <p>{{ selectedAnime.synopsis }}</p>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" routerLink="/search" class="btn btn-secondary">Back</button>
        <button type="button" (click)="addWatchList(selectedAnime)" class="btn btn-secondary">Watch Now</button>
        <button type="button" (click)="addWatchedList(selectedAnime)" class="btn btn-secondary">Done Watching</button>
        <button type="button" (click)="addWatchLater(selectedAnime)" class="btn btn-secondary">Watch Later</button>
      </div>
    </div>

    <div class="col-sm text-light text-left">
      <ul class="align-content-start" style="width: 50%; list-style: none; background-color: rgba(150, 150, 150, 0.5);">
        <li><span style="text-align: left;">Status:</span>{{ selectedAnime.status }}</li>
        <li><span style="text-align: left;">Episode Count:</span>{{ selectedAnime.episodeCount }}</li>
        <li><span style="text-align: left;">Start Date:</span>{{ selectedAnime.startDate }}</li>
        <li><span style="text-align: left;">End Date:</span>{{ selectedAnime.endDate }}</li>
        <li><span style="text-align: left;">Show Type:</span>{{ selectedAnime.showType }}</li>
      </ul>
    </div>
  </div>
</div>
