<div class="container">
  <div class="row">
    <div class="col-md-3 ml-5 text-dark" style="width: 5rem;">
        <div class="card">
          <img class="img-thumbnail"  src="selectedAnime.logo" alt="anime title"
          style="max-height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">{{selectedAnime.name}}</h5>
            <p class="card-text">{{selectedAnime.synopsis}}</p>
            <p class="card-text">Categories</p>
            <a routerLink="/search" class="btn btn-primary">Back</a>
          </div>
        </div>
    </div>
  </div>
</div>
