<div class="card col-lg-10 offset-1 mt-5">
    <div class="card-header">
        <div class="row">
            <div class="col-xs-6">
                <h5 class="card-title">Search</h5>
            </div>
            <div class="col-xs-6 ml-auto">
                <div class="input-group">
                    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                        <input formControlName="name" id="anime" type="text"/>
                        <button id="submit" class="btn btn-primary ml-2">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="bg-light table table-striped">
            <thead>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </thead>
            <tbody>
                <tr *ngFor="let anime of animes">
                <td><img src="{{ anime.logo | jsonParser}}" alt="Anime logo" width="50px" height="50px"></td>
                <a routerLink="/details" (click)="onClick(anime)"><td>{{anime.name | jsonParser}}</td></a>
                <td>{{anime.synopsis | jsonParser}}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [maxSize]="5" [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChange()"></ngb-pagination>
        </div>
    </div>
</div>
