<div class="card border-dark mx-auto" style="max-width: 18rem;">
    <div class="card-header">
        <h5>Find Anime</h5>
        <form [formGroup]="searchForm" class="card-body text-dark" (ngSubmit)="onSubmit()">
            <input formControlName="name" id="anime" type="text"/><br>
            <button id="submit">Search</button>
        </form>
    </div>
</div>
<div *ngIf="searched" class="Container">
    <table class="table table-striped bg-light">
        <thead>
            <th scope="col"> Name </th>
        </thead>
        <tbody>
            <tr *ngFor="let anime of animes">
               <a routerLink="/details" (click)="onClick(anime)"><td>{{anime.name}}</td></a>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [maxSize]="5" [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChange()"></ngb-pagination>
    </div>
</div>

