<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" routerLink="">[Miro]</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarText" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
    </ul>
    <span *ngIf="(isLoggedIn | async); else elseBlock" class="nav-item">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li *ngIf="isAdmin">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
        <li>
          <a class="nav-link" (click)="this.authService.logout()">Logout</a>
        </li>
      </ul>
    </span>
    <ng-template #elseBlock>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="this.authService.login()">Login</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
