<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="">[Miro]</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarText" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="(isLoggedIn | async); else elseBlock" class="nav-item">
        <a class="nav-link" (click)="this.authService.logout()">Logout</a>
      </li>
      <ng-template #elseBlock>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-template>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
    </ul>
    <span class="navbar-text">
      Track it all™
    </span>
  </div>
</nav>
