<div class="container">
  <ngb-accordion [closeOthers]="true" activeIds="backlist">
    <ngb-panel *ngFor="let animeList of animeListArr" id="{{ animeList.id }}" title="{{ animeList.name }}">
      <ng-template ngbPanelContent>
<!--        TODO: Search within lists-->
<!--        <form>-->
<!--          <div class="form-group form-inline">-->
<!--            Filter: <input class="form-control ml-2" type="text" [formControl]="filter"/>-->
<!--          </div>-->
<!--        </form>-->

        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Episode Count</th>
            <th scope="col">Format</th>
            <th scope="col">Status</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let anime of animeList.listName">
            <td>
              <img src="{{ anime.logo | jsonParser }}" alt="Anime logo" width="50px" height="50px">
            </td>
            <td>
              <p>{{ anime.name | jsonParser }}</p>
            </td>
            <td>
              <p>{{ anime.episodeCount }}</p>
            </td>
            <td>
              <p>{{ anime.showType | jsonParser }}</p>
            </td>
            <td>
              <p>{{ anime.status | jsonParser | titlecase }}</p>
            </td>
            <td>
              <p>{{ anime.startDate | jsonParser | date }}</p>
            </td>
            <td>
              <p>{{ anime.endDate | jsonParser | date }}</p>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
