<div class="jumbotron" style="background-image: url('https://wallpapershome.com/images/pages/pic_h/19468.jpg');
                              background-repeat: no-repeat; background-size: cover; background-position: center;">
  <div class="mask align-items-center">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Welcome to Mirou!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        </ul>
        <span class="navbar-text">
          Catch up to everything you are missing.
        </span>
      </div>
    </nav>
  </div>

  <div class="container mt-4" style="background: rgba(122, 130, 136, 0.6)">
    <div class="row-cols-1 col-sm-12 mt-5" style="color: rgb(16, 8, 19);" class="mask align-items-center col-md-6">
      <div>
        <p>Finding, making, and sharing a list of your favorite anime and manga has never been easier!</p>
      </div>
    </div>
  </div>

  <div class="container mask text-light mt-5">
    <div class="row row">
      <div class="col-md-4 mt-4 mr-5 ml-5" style="background: rgba(122, 130, 136, 0.6)">
        <h3>Catch up with our personal favorites!</h3>
        <p>
          This is an example of how things look over here we try to make it simple
          to find new favorites with a sleek view. 
        </p>
      </div>
      <div class="col-md-3 ml-5 text-dark" style="width: 5rem;">
        <div class="card">
          <img class="img-thumbnail"  src="https://media.kitsu.io/anime/poster_images/1/small.jpg?1431697256" alt="anime title"
          style="max-height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Anime Title</h5>
            <p class="card-text">Description of anime goes here.</p>
            <a class="btn btn-primary">See full details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>