<div class="jumbotron" style="background-image: url('https://wallpapershome.com/images/pages/pic_h/19468.jpg');
                              background-repeat: no-repeat; background-size: cover; background-position: center;">
  <div class="container mt-4" style="background: rgba(122, 130, 136, 0.6)">
    <div class="row-cols-1 col-sm-12 mt-5" style="color: rgb(16, 8, 19);" class="mask align-items-center col-md-6">
      <div>
        <p class="text-light">
          Find your favorite anime, add them to your watchlists, and catch up with your friends' lists, too!
        </p>
      </div>
    </div>
  </div>

  <div class="container mask text-light mt-5">
    <div class="row row">
      <div class="col-md-4 mt-4 mr-5 ml-5" style="background: rgba(122, 130, 136, 0.6)">
        <h3>Catch up with everything you've been missing 😺</h3>
        <p>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </p>
      </div>
      <div class="col-md-3 ml-5 text-dark" style="width: 5rem;">
        <div class="card">
          <img class="img-thumbnail" src="https://media.kitsu.io/anime/poster_images/1/small.jpg?1431697256" alt="Anime title"
               style="max-height: 10rem;">
          <div class="card-body">
            <h5 class="card-title">Anime Title</h5>
            <p class="card-text">Description of anime goes here.</p>
            <a class="btn btn-primary">See full details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
