<div class="container mt-3">
  <div class="row">
    <div class="col-sm-3 mr-3">
      <div class="row">
        <div class="card text-light bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header">Where am I?</div>
          <div class="card-body">
            <p class="card-text">
              見ろ (Miro) is Japanese for "look". On this site, you'll be able to read up on and discover anime, add them to your own watchlists to track your progress, and follow other users who do the same. Take a look!
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card text-light bg-info mb-5" style="max-width: 18rem;">
          <div class="card-header">How do you do it?</div>
          <div class="card-body">
            <p class="card-text">
              We consume <a href="https://kitsu.io" style="color: black;">Kitsu's</a> API for our anime information, while hosting our own platform and exposing our own API.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="row">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let anime of trendingList">
            <div class="card bg-dark" style="width: 350px;">
              <div class="card-header text-light">Trending Anime</div>
              <div class="card-body text-center">
                <img src="{{ anime.logo | jsonParser }}" class="card-img mb-2" style="height: 400px; width: 250px;" alt="{{ anime.name | jsonParser }} logo" (click)="open(anime)" routerLink="/details">
                <p class="card-text text-light text-center mb-4">{{ anime.name | jsonParser }}</p>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>
